# Editor stuff
*~
\#*
*\#
.*swp*

*.exe

# Daily Wire
dailywire.com/dailywire.com

# Murfs
murfs

# Morning Wire
morning-wire/morning-wire

# NPR News
npr-news-now/npr-news-now

# Simulate Browser
simulate-browser/simulate-browser

# Compiler stuff
*.o
*.fasl

