# Editor stuff
*~
\#*
*\#
.*swp*

*.exe

# Daily Wire
dailywire.com/dailywire.com

# Murfs
murfs

# NPR News
npr-news-now/npr-news-now

# Simulate Browser
simulate-browser/cmd/simulate-browser/simulate-browser

# Compiler stuff
*.o
*.fasl

